<!-- Ping Pong Ball Link -->
<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ball">
    <link name="ball_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <!-- Define a spherical shape -->
            <geometry>
                <sphere radius="0.02"/>
            </geometry>

            <material>

            </material>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <sphere radius="0.02"/>
            </geometry>
            <surface>
                <bounce restitution_coefficient="1.0" threshold="0"/>
            </surface>
        </collision>

        <inertial>
            <mass value="0.0027"/>
            <origin xyz="0 0 0" rpy="0 0 0"/> <!-- Center of mass -->
            <!-- Approximate values given a hollow sphere -->
            <inertia ixx="0.0000075" ixy="0" ixz="0" iyy="0.0000075" iyz="0" izz="0.0000075"/>
        </inertial>
    </link>
</robot>