<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="paddle">
<!-- Ping Pong Paddle Link -->
    <link name="paddle_link">
      <inertial>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <mass value="0.085"/>
          <inertia ixx="0.002858" ixy="0" ixz="0" iyy="0.002987" iyz="0" izz="0.0001420" /> <!-- ${0.08333333333*plate_mass*plate_width}-->
      </inertial>
      <visual>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <mesh filename="package://pong_gazebo_pkg/models/paddle/paddle.stl"/>
          </geometry>
      </visual>
      <collision>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <mesh filename="package://pong_gazebo_pkg/models/paddle/paddle.stl"/>
          </geometry>
          <surface>
            <bounce restitution_coefficient="0.1" threshold="0.01" />
          </surface>
      </collision>
    </link>
</robot>